* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 107, 107);
}

main {
  display: grid;
  /* grid-template-rows: repeat(20px, 4); */
  grid-template-rows: repeat(4, max-content);
  place-items: center;
  background-color: aliceblue;
}
#svgdog {
  background-color: antiquewhite;
  width: max-content;
  margin: auto;
}
